<!DOCTYPE html> 
<html lang="en"> 
    <link rel="stylesheet" href="style.css">
	<head> 
        <script src="script.js"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<meta charset="UTF-8" /> 
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0" /> 
		<title>Website Cloner</title> 
	</head> 
	<body>
		<center><header style="color: aqua;background-color: black;font-size: 250%;">Clone any Website</header></center>
		<br>
        <form action="/clone" method="post">            
            <fieldset>
                          
              <label for="website">Link to Website:</label>
              <input type="url" id="website" name="website">
                  
             </fieldset>
           
            <button type="submit">Clone Website</button>
            <br><br>
            <p style="color: green;">Note: The Cloned Website will be saved in your downloads folder with the name <span style="color: blue;">Cloned</span></p>
           </form>
        
	</body> 
	<footer style="background-color: black;"><br>
		<p style="color: aqua;text-align: center;">Made with <a style="color: red;">❤</a> from <a style="color: red;text-decoration:none;" href="https://kaustubhsingh.herokuapp.com/">Kaustubh</a></p><br>
	</footer>
</html>