<!DOCTYPE html> 
<html lang="en"> 
    <link rel="stylesheet" href="style.css">
	<head> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<meta charset="UTF-8" /> 
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0" /> 
            <title>Success - Website Cloner</title> 
            <link rel="shortcut icon" type="image/png" href="logo1.png"/>
	</head> 
	<body>
		<center><header style="color: aqua;background-color: black;font-size: 250%;">Clone any Website</header></center>
		<br>
        <p>Website has been Cloned Successfully.<br><br>Saved in the given directory inside <span style="color: green;">cloned folder</span></p>  
        <br>
        <p style="color: green;">
            <span style="background-color: aqua; color: red; font-size: larger; font-weight: bolder;">Caution</span><br>
            Note: If path not given, it will be cloned inside C:// drive in Cloned folder</p>
	</body> 
	<footer style="background-color: black;"><br>
		<p style="color: aqua;text-align: center;">Made with <a style="color: red;">❤</a> from <a style="color: red;text-decoration:none;" href="https://kaustubhsingh.herokuapp.com/">Kaustubh</a></p><br>
	</footer>
</html>